@import "tailwindcss";

.gradient {
  background: linear-gradient(90deg, rgb(0, 171, 207) 0%, rgb(165, 224, 217) 100%);
} 


.montserrat-bold> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.lora-bold> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

/* Tamaños variables como en el ejemplo de Swiper */
.swiper-slide:nth-child(3n) {
  width: 40vw;
}
.swiper-slide:nth-child(2n) {
  width: 60vw;
}
.swiper-slide:not(:nth-child(2n)):not(:nth-child(3n)) {
  width: 80vw;
}

.swiper-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}